#about
  .container
  .row.aboutmetext
    .col-md-12
      .col-md-8
        .aboutp
          h2.text-center About Me
          p
            | Welcome! My name is Tommy and it’s a pleasure to meet you! A bit about myself, I’m from Guangzhou, China, where Cantonese is
            | the main language, but I also speak Mandarin fluently as well. After moving to United States at a very young age, I lived in
            | LA for most of my life and had been an avid gamer since 3! It’s hard to remember a day that I haven’t played games, but
            | surprisingly it’s also where I learned majority of my English when I first started. Can’t say games don’t provide anything
            | useful now as my parents would tell me every time. On top of gaming, I have also played drums for 7 years from elementary
            | school to end of high school which I enjoyed very much as a hobby.
          p
            | As gaming became more involved in my life sometimes even ruined my sleeping schedules, it had caused quite a stir in my life.
            | I never knew how the machines or the games worked and it burns me inside feeling so clueless. So as college hit I decided to
            | pursue Computer Science hoping to find answers to fill this empty hole in my knowledge. Now my life takes a turn and a new
            | adventure awaits me at Coding House which I’ll be spending 2 months as a code monkey training to become a full stack Web and
            | Software Developer. I wonder what kind of obstacles and rewards await me at the end of this adventure? Check out my blog to
            | keep up with me! I'll be providing weekly feedback on my progress and anything else that is interesting.
        .hobbyp
          h4.text-center When I'm not working
          ul
            li Master new languages
            li Research new ways to use Javascript
            li Keep up with the latest gadgets
            li Playing hottest new video games
            li Study movements of tech giants
            li Finding new cool music to enjoy
            li Being with my family
            li How to self-improve both mentally and physically
      .col-md-4
        .row
          h2.aboutpich2.text-center My Interests
        .row
          img.aboutimg1(src='images/frontend.png')
        .row
          img.aboutimg2(src='images/cvl.jpg')
        .row
          img.aboutimg3(src='images/ilovemusic.jpg')
        .row
          img.aboutimg4(src='images/zboardsf.png')
