.container.blogtext
  .row
    .col-md-9
      p.info (Transition to new server under works)
      h1#bloghead The Weekly Dose
      #blogpost12
        h3.bposts Transitions and Firebase!
        .blogcontent
          p.bpostp
            | Remember how stressed and frustrated I sound a few days ago talking about how the scramble puzzle game was kicking my ass?
            | Well, I managed to fight back and finally get this game done. The process was by far one of my best learning experiences, went through
            | so much headache and realized how much I have left to learn. The gruesome walls I hit getting the game to work was definitely a wake
            | up call, which includes first splitting an image into x rows and y columns, then randomize the split images, and lastly is getting all the
            | click functions to work properly on each image. At first I used HTML5 Canvas method to create the image and splitting it, but it was way
            | too much work and unnecessary. It was much easier using jQuery to split the image with a bit of CSS Sprite magic as well. However, figuring
            | out this process alone took me a day, did a bunch of trial and errors to see which method was easier and also manageable for my current
            | knowledge. That was wall number one.
          p.bpostp
            | Next was randomizing each image after it was split. Little did I realize I could have used
            | Lodash shuffle method to shuffle the images, I first tried using a for loop to loop through the images through putting them into an array
            | and that did not go well. After solving the problem with Lodash magic, moving the images only if it was next to an empty spot was by far
            | the hardest obstacle I had to tackle through. Figuring out the process and logic of how the image should move was tough, even by writing
            | it out on paper. When I tried to transition that into codes, I was still lost. The problem I start to see clearer and clearer was not that
            | I didn't know how to type the codes, but rather problem solving logic and making that transition from paper to codes. I got stuck on this
            | wall for a whole day, felt nothing was working and I just couldn't comprehend the concept no matter what. However, there was hope! Thanks
            | to Samer's(our instructor before Chyld, he is still around helping) little bit of hints and showing me some codes he typed, all the dots
            | just started to connect. Talking about revelation and getting help from others really make the difference! So this game took me about three
            | days to finish, by far the longest time it took me to complete compared to other mini projects I've done. The bright side, this game was
            | that stepping stone into really grasping javascript and jQuery on a deeper level rather than just knowing the surface.
          p.bpostp
            | Moving on after finishing up the puzzle game, I was excited to know I'll be learning FireBase and AngularJS. I touched base
            | with these two subjects, but just know what it is and the very basic concepts. It's super cool to finally dive into something new and really
            | get the engines going into making a real marketable and useful web app soon. This week has been a roller coaster ride for me, but I look
            | forward to the new knowledge that I'll come to master.
          p
            span.blogdates  - March 11th, 2015
      #blogpost11
        h3.bposts A New Struggle Begins
        .blogcontent
          p.bpostp
            | Almost a month and a half into the boot camp, things are starting to pick up real fast and the clock is ticking.
            | The feeling of not having enough time to learn and work on my projects becomes that much more noticeable. After just finishing
            | up my Tic Tac Toe game, I’m giving another project, this time to make a picture scramble game where you have to solve the scrambled puzzle.
            | At a glance it seems simple and doable, just like when Tic Tac Toe game was given. However, as I sat down and started to look into what
            | needs to be done to make the game come to life, I realized the horror of actually not knowing where to begin.
          p.bpostp
            | Just like my previous projects the Tic Tac Toe game, Stock Purchase App, and so on, I know at first there will always be
            | some sort of difficulty, but I’m sure I can figure it out as I dive into them. However, this one on the other hand is totally different.
            | I sat there trying to plan out step A to Z on how to tackle this challenge and hopefully make some grounds on where to begin.
            | Then I did some research on the internet and that’s when it hit me. I don’t know how or where to begin. For one, it seems most guides,
            | examples or demos referred to the use of canvas, which I have never heard or seen before. Right off the bat this assignment requires me
            | to know some alien term and all its mechanics behind it, that alone I would have to research into and take time to grasp. Second, I would
            | need to slice up an image into X rows and Y columns while keeping the image in proportion and fixed in the canvas container.
            | Without hesitation, I delve into researching about how canvas works and it had so much complexity it was too much to absorb and make use
            | in just 1 day.
          p.bpostp
            | I won’t give up, but at the same time, there are moments where hitting the wall alone without others’ guidance just won’t
            | get you through. There is only so much I can do by myself, with my current knowledge, and sometimes you just got to ask for help.
            | So I’m in desperate need of assistance in learning how to tackle this project and hopefully tomorrow(Monday) I’ll find some answers
            | and relieve myself of this helplessness.
          p
            span.blogdates  - March 8th, 2015
      #blogpost10
        h3.bposts Stock Apps, and now a Game?!
        .blogcontent
          p.bpostp
            | The last few days was possibly one of the most productive few days I’ve had so far coming here.
            | After moving back with everyone else at the tables, it felt like the days I spent studying with Aziz have paid off.
            | So right off the bat Chyld gave AJ and I a small project to work on. First one was to build a get stock quotes app,
            | where the user inputs a company symbol and it returns that company’s stock information. I was able to quickly finish
            | that assignment during the day and it was cool learning how to use APIs and Ajax calls. Being able to see data retrieved
            | elsewhere through the web is an awesome feeling. It gave me the perspective of what is out there, what is possible,
            | and how ambitious some apps are thinking some of them probably have a dozen or more APIs in one app. It was just a tip of
            | the iceberg that I’m tasting, but man it was a great feeling knowing I’ll be working with APIs a lot more in the future
            | and mastering how to use APIs will be harder than learn to code itself.
          p.bpostp
            | After the simple display stock quote app, the next assignment got bumped up a notch instantly.
            | Now I have to implement a Buy Stock App where the user can simulate buying real stocks from xyz company with
            | a set amount of money, and see the costs and shares he/she can buy. The process in doing so was challenging as
            | I was still fresh in learning how APIs work. First I had to set up the html structure of the inputs and outputs,
            | then do the math behind the scenes, so the user can properly add money to the balance, buy and sell shares while
            | the numbers reflect correctly based off of what was inputted. Next is to grab the API and get real data to display
            | any company’s stock quotes. So overall it was a great learning experience, I got to design the layout and how the
            | user enters his/her inputs, get data through an API, display the data in real time through the output by user command,
            | and have the user be able to change and play around with the data.
          p.bpostp
            | But wait, there is more. The challenges never cease to end, after the Buy Stock App, my next task was to build
            | the classic Tic Tac Toe game! It may look simple and easy to play, but the codes required to make it functional were more than
            | I had expected. It truly tested all my knowledge of javascript and jQuery at the time and how to put those pieces together to
            | make this game work. The layout was fairly straightforward, just a 3 by 3 grid. The hard part was getting 2 player inputs,
            | how to win, and all the algorithm behind it. As I was coding the game, I see a bit more clearer that any coding is literally
            | problem solving. You must break down the task into tiny pieces and just tackle one thing at a time. The best way to solve anything
            | is to first write down the problem on a paper, draw out the steps you’ll take to tackle each problem, and have some pseudo code for
            | how to get the solutions. When it’s clear on paper, coding the contents becomes so much easier. So back to the game, I think my biggest
            | struggle was learning how jQuery really works and have it do what I need it to. But after tons of suffering and asking dumb questions,
            | I manage to pull through and proudly say I made my first game in coding. Definitely a good week to start off March!
          p
            span.blogdates  - March 5th, 2015
      #blogpost9
        h3.bposts Some Cool Javascript Exercises
        .blogcontent
          p.bpostp
            | Lately I been diving deeper into Javascript and how I can improve to become
            | better at solving problems. Using Javascript to solve problems is just like thinking on the fly when
            | a problem is thrown at you, you must know what methods or functions to use when you see the problem.
            | However, to be able to do that and have a good response within seconds takes tons of practice and
            | your mind needs to get used to that kind of thinking. So I went ahead and found some cool mini exercises
            | which will help stimulate that brain to get use to using Javascript. Here are a few examples.
          p.bpostp
            | The famous FizzBuzz exercise that always puts people into a state of confusion and
            | frustration. Here is how I did mine. 
            br
            code
              | for (var i = 1; i &lt; 21; i++) { 
              br
              |                         if (i % 3 === 0 &amp;&amp; i % 5 === 0) { 
              br
              |                         console.log(&quot;FizzBuzz&quot;); 
              br
              |                         } else if (i % 3 === 0) { 
              br
              |                         console.log(&quot;Fizz&quot;); 
              br
              |                         } else if (i % 5 === 0) { 
              br
              |                         console.log(&quot;Buzz&quot;); 
              br
              |                         } else { 
              br
              |                         console.log(i);
              br
              |                         }
              |                         };
          p.bpostp
            | Here is one that checks to see if a word is a Palindrome(a word that is the same
            | spelled backwards like "dad". Here is how I did it.
          code
            | function checkPal(string) {  
            br
            |                         var word = &quot;&quot;;  
            br
            |                         for (var i = 0; i &lt; string.length; i++) {  
            br
            |                         return string === string.split(&quot;&quot;).reverse().join(&quot;&quot;);  
            br
            |                         }  
            br
            |                         }  
            br
            |                         console.log(checkPal(&quot;madam&quot;));
          p
            span.blogdates  - February 21th, 2015
      #blogpost8
        h3.bposts Why Googling is an Important Skill
        .blogcontent
          p.bpostp
            | By this time and age, anyone who have surfed the internet is almost guaranteed to have
            | Googled something. What is Googling you might ask? Well, Googling is to look up anything on the website
            | Google.com. which I consider as a modernize dictionary database. However, when it comes to being a Web or
            | Software Developer or Engineer, knowing how to Google for the right answer has also become a crucial
            | skill set to have. Why you might ask? Isn't Googling a simple thing that everyone who can use the internet
            | is able to do? Well to that extend yes, but if you are a Web Developer like me, then it goes way beyond that
            | spectrum. For instance, when there are so many languages and frameworks to go through, you won't be able to
            | remember the exact syntax or method to use for the proper situation. What is the easiest thing to do when
            | you have a computer with internet ready? GOOGLE IT!(Or use other search engines you are familiar with)
            | Also, it's not just knowing how to Google, but rather asking the right question. That way you can minimize
            | the time and effort searching for an answer which without you knowing, sometimes can take more than just few
            | minutes. And when it comes to solving a problem or bug you need to fix asap let's say the client demands it,
            | then finding the right answer is that much more important! Moral of the story, being a skilled Googler means
            | you can be a lot more productive in managing and utilizing your time, especially when time is not on your side.
        p
          span.blogdates  - February 17th, 2015
      #blogpost7
        h3.bposts A Time of Frustration
        .blogcontent
          p.bpostp
            | After a ton of struggling to understand, breaching through the walls of Javascript, jQuery,
            | and other frontend languages, now I'm told we are transitioning into learning some Backend frameworks. Barely
            | having time to breathe, settle down to absorb the materials that were taught, I am being thrown into another
            | fire pit. However, despite being in the midst of all this chaos, I somehow felt excited and wanted to get
            | to the finish line that much more! Realizing my brain is in a constant state of confusion, recovery, and back
            | to being hammered again, instead of going against everything, it was better off accepting all that is
            | happening and let them all sink it naturally. The moment I came to that conclusion, things started becoming
            | a bit more clear, a bit less confusing, and a bit more comfortable.
          p.bpostp
            | Next, moving through week 3 was quite an unique experience. I was given few more mini projects to
            | do to improve our Javascript skills, one being building a weather forecast app that will return the current
            | location's weather and the next 10 days. The other project was to make my own version of the popular memory
            | game where the player has to flip sets of pictures to match each other until a timer runs out. This is where
            | my nightmare began, realizing to make those 2 apps functional, I need a higher level of understanding in Javascript
            | to complete the assignment. So without hesitation I rigorously looked up and studied any material I could find
            | that would be beneficial to helping my complete the tasks at hand. It was a frustrating experience knowing
            | the next due date I won't be able to finish the task, one for not having enough time, but mostly my lack of
            | knowledge preventing me from working efficiently on the project. I spent more time researching, learning,
            | and watching tutorials rather than working and coding the projects. However, there are some good news, thanks to
            | the frustration that was building up and the pressure of falling behind, I made great progress on learning how
            | to code better and knowing what tools and language to use when I needed it. Despite my efforts to finish the
            | projects by due date, I could not, which in the real world would not allow. But giving this opportunity to learn
            | and make mistakes is perfect for me to develop and hone my skill sets so I won't make those mistakes when I am
            | working on a real job. Taking a step back, I realized I am still human, there are not enough hours in a day, so
            | the best I can do is manage my time wisely, pick the most efficient route, and ask for help whenever I need it,
            | including Googling for answers.
        p
          span.blogdates  - February 15th, 2015
      #blogpost6
        h3.bposts After 2 Weeks
        .blogcontent
          p.bpostp
            | Two weeks have gone by in a flash, every night I slept with the feeling of being behind
            | and getting farther away from where I should be. Every day I am bombarded with tons of new contents to learn
            | and mini projects to do. At this point the schedule had become normal to me, yet somehow I still felt like a
            | stranger towards it. Maybe it's because once I caught up on something, I'm fallen behind on something else.
            | On the bright side, I've started to slowly understand and define myself on how I comprehend new information,
            | how my brain processes it, and where my strengths and weaknesses lie. So there had been a lot of self-reflecting
            | moments as well throughout the week. I feel once I am able to understand my flaws, then I am able to fill in
            | those gaps and focus on my strengths. I'm always a believer of the concept failing forward and no pain no gain.
          p.bpostp
            | Aside from my self-reflections, having finished week 2 and going half way into week 3, I
            | did accomplish a lot. First it was quite delightful having Chyld as our new instructor on top of Samer. He
            | knew we needed to boost our foundations and we went back to touch base on some Javascript and jQuery basics.
            | As a cohort, we did several mini projects from simple Photoshop rendering, to making a fully functional
            | calculator which I am very proud of accomplishing. The amount of struggle and walls I hit getting the calculator
            | to work was by far one of the hardest I've met. The feeling of frustration of seeing your colleagues finishing
            | their calculator and having it working, whereas I couldn't get mine to work was disastrous. But that frustration
            | is what fueled me into wanting to make the calculator work, and I did after a long day of losing brain cells.
            | Thanks to Samer's patience and guidance, I was able to overcome the calculator struggle, but only to find out
            | I got more projects coming up and there is no time to relax.
          p.bpostp
            | Lastly, on the weekend of week 2, I attended my first ever Hackathon, and it was exactly what I
            | expected. As I walked through the doors into the building, I instantly felt the overwhelming pressure of
            | other individuals who all held the same goal and hunger wanting to succeed and be noticed. It really made me
            | realize how small I am in the pond of fish. But I couldn't care about that, knowing I lack much knowledge
            | compare to some, I spent the whole day brushing up on my coding foundations. On top, I also checked out the
            | companies that were present and learned much about their new APIs and too many awesome apps. Overall, it
            | was a great learning experience and able to live it first hand. Moving forward into week 3, I am looking forward
            | to overcoming more obstacles and challenges thrown at me.
        p
          span.blogdates  - February 11th, 2015
      #blogpost5
        h3.bposts In the Midst of Discovery
        .blogcontent
          p.bpostp
            | Now being in week 2, it felt like few months have gone by. The reason I feel that way it's
            | because the amount of new materials I've learned far exceeded any previous learning experience. At school,
            | first 2 weeks would most likely be going over the first chapter of the subject and a few homework assignments.
            | In this new week, I got exposed to at least 3 new languages and frameworks, even libraries of the framework.
            | Next we not only delve into learning what each of these topics were, but also used what we learned and
            | created actual working apps.
          p.bpostp
            | One new API we made through the use of AngularJS and Javascript was a twitter-like app, we called it Tweeter Board.
            | We wanted to keep it simple since it was our "first" mid-size project, and it blew me away on how cool it was.
            | The app will take user inputs of their Twitter handles and return the amount of tweets, retweets, and favorites
            | over a set time frame like the last 24 hour return the results after summing them up. For fun, we searched up
            | famous celebrity names like Katy Perry or our President Barack Obama and are able to instantly get results on
            | their last 24 hour of tweets, favorites and so on. It was funny to see how far apart their results were with Katy
            | having about 90k of favorites and retweets and Obama with just over 3k in total. I suppose being the President
            | does not make you being the most famous? So one thing I do want to point out is, with this simple app, it
            | gave me insights into so many topics we covered. Such as how data are transferred, the strengths
            | of Angular and how API works in relations to server and to client side, how HTML, CSS and Javascript all work together
            | to make this "magic" happen using NodeJS as the framework. It's incredible to see and realize how many tools
            | were put together to make this app work. What's even more amazing is in mere 1 and half weeks, I was able
            | to comprehend so much of the materials taught and see the potential of what is possible by just mastering
            | tiny bits of one language or framework.
          p.bpostp
            | On top of Tweeter Board, I also learned simpler things like making a sign up and login page for a new user
            | through Express and Passport. I'm still in the middle of digesting all these materials I've learned as some sank in and
            | some are still giving me a hard time understanding. It gave me the feeling of this never-ending cycle of new technologies popping out, which by the
            | time I finished learning one, several new languages or frameworks will be out. So instead of trying to master them all,
            | it's best to pick a few that I'm interested and are good at, and just tackle those. I think the phrase don't be a Jack
            | of All Trades, but be a Master of One really shines at this point and moving forward. I am still feeling the unending pressure
            | of never having enough time to learn or do anything because there are so much on the table to work with, but I just
            | have to take things one step at time. Slow and steady wins the race right?
        p
          span.blogdates  - February 5th, 2015
      #blogpost4
        h3.bposts Week 1 Results
        .blogcontent
          p.bpostp
            | It has been a week since I came to the Coding House, and it felt like a month. Every day from the moment I finish my morning duties until before bed, it is always continuous learning and working on a new language or project. Within this first week, I had gone over so many topics that would've taken me probably months to get into. We covered from popular programming languages such as Javascript and Ruby, to frameworks such as Rails, Nodejs, Expressjs, and even a good amount of GitHub, jQuery, and messing a bunch with the Chrome DevTools. We also made a mini twitter like app using Ruby and Rails which I struggled a ton to understand how it works and the process of making it. It's surprising to me that I'm able to recall all these materials in just one week, although my mastery of each content varies with most at beginner level. However, I feel it's incredible that in a short 1 week, my brain is able to remember most of it.
          p.bpostp
            | Let's not forget, all the efforts could not have been done by myself. Without the constant guidance of our TAs and our skillful instructor Samer, along with the pressure of my fellow Cohorts backing each other up, my experiences this week could not have turned out so well. At this point, I can really see myself enjoying the never-ending need to learn, the always lack of time schedule, and daily pressure of feeling behind and not living up to Samer's expectation. I believe it's because of the rigorous daily work schedule(usually 12-14 hours) and my relentless will to succeed that I'm able to survive this week. In fact, I am quite thankful for this intense scheduling because it had help fixed my corrupted sleeping and eating habit. Overall, this week had been a great success in terms of learning, struggling, and understanding. Also, we are going to learn some Martial Arts next week for fitness! Where are you going to find a place that provides top notch teachings, food, and fitness? I know where and I'm enjoying every moment of it!
        p
          span.blogdates  - February 1st, 2015
      #blogpost3
        h3.bposts First Impression of Coding House
        .blogcontent
          p.bpostp
            | As my first 3 days gone by, I have realized how intense everything is. From the moment
            | I wake up, the only thing I can think of is how to close the gap between what was taught and how much
            | I have absorbed and understood. Except that every time I finally feel like I'm understanding a new concept,
            | another new material gets thrown at me. Thus leaving very little room to give myself the time to cope with
            | the new found knowledge and fully grasp it. This will be the trend for the next 2 months, the second you feel
            | good about something, you will get thrown into another hole to dig out of.
          p.bpostp
            | Let's not forget what was covered in the short 2 days, we went through topics such as
            | the command lines, GitHub repos, Bootstrap, Ruby, Rails, Passport, Express, Nodes, and a few more. I had realized
            | in these short 2 packed days, we we're exposed to so many new frameworks and languages regardless of how
            | much I actually mastered. I like the fact that we were exposed to all these contents so fast whereas it
            | would probably take me weeks to go over them all alone. I think getting in touch with these new concepts first,
            | then slowly through continuous workshops and projects, we'll understand them more and more. This method of
            | teaching far outweighs the traditional way of read a book and listen to lectures. All I can say is, despite
            | the never ending struggle to grasp a new concept, by the time I understood a little bit of it, a new one will
            | be thrown at you, it is by far the most challenging, yet fun way to learn.
        p
          span.blogdates  - January 28th, 2015
      #blogpost2
        h3.bposts So what is next?
        .blogcontent
          p.bpostp
            | After deciding to focus and pursue coding rigorously, little did I realize how big this programming world is.
            | Sometimes I wonder how do those people came up with all the ideas, structures, or create any language from scratch.
            | It's great that the wheel's been invented and we don't necessarily need to reinvent it again. But at the same time,
            | its the creativity of individuals and thoughtful breakthroughs that make programming so diverse and unique. There are
            | literally no ends to what you can do with this language.
          p.bpostp
            | Also with our technology growing and expanding every day, one
            | can almost never master any language at all. There are always something new or something being changed due to current
            | demands or someone seeking new ways to devise its usage. Now carrying the hopes and dreams of becoming a full stack
            | developer within the next few years, I'm going to learn and breath codes in my new exciting adventure at The Coding House
            | next week! I'm super fired up for what's to come and am ready to get my butt kicked everyday. I'll be blogging about my daily/
            | weekly progress and thoughts as the program goes.
        p
          span.blogdates  - January 22th, 2015
      #blogpost1
        h3.bposts My very first blog!
        .blogcontent
          p.bpostp
            | Many people have asked me why did I choose coding? Why do I want to become a programmer?
            | It all started when I watched a cartoon called Dexter's Laboratory on Cartoon Network when I was 8 years old.
            | It was amazing to see how a young kid like Dexter has a whole lab behind his bedroom and he was able to build
            | and construct so many brilliant machineries. Then it struck a cord within me, I wanted to be like him, or at
            | least have that kind of secret identity as I thought back then. How cool would it be to have your own little
            | robot army and all those cool gadgets?
          p.bpostp
            | I remember one episode where it was about him having this device that
            | can slow down time where 1 minute with the time controlling device was equal to an hour of real time. That
            | was probably the gadget I wanted the most and I wanted to know if it was possible to make it. Obviously, our
            | reality was far from being that advance, but it sparked a interest in my head that I must
            | learn how to program so maybe one day I can create something amazing too. Little did I realize until recently
            | that learning to code a simple website or make the computer do a simple function requires a massive amount of
            | work. However, I'm glad to have stepped into this coding world and so far it has definitely broaden my view
            | on what is possible and what is achievable. Well, one way to find out and that is to put all my focus right now
            | while I still have the drive and youth to learn as much as I can on this hot subject which not only now, but will
            | also revolutionize our entire future generation!
        p
          span.blogdates  - January 20th, 2015
    .col-md-3
      ul#blogsidepanel
        li.bsidelist(style='font-size:20px; font-weight:bold; list-style:none') Archives
        li 2015
        li(style='list-style:none')
          ul
            li.panelmonths March
            li(style='list-style:none')
              ul(style='list-style:circle')
                li
                  a.blogpanel(href='#blogpost12') Transitions and Firebase!
                li
                  a.blogpanel(href='#blogpost11') A New Struggle Begins
                li
                  a.blogpanel(href='#blogpost10') Stock Apps, and now a Game?!
            li.panelmonths February
            li(style='list-style:none')
              ul(style='list-style:circle')
                li
                  a.blogpanel(href='#blogpost9') Some Cool Javascript Exercises
                li
                  a.blogpanel(href='#blogpost8') Why Googling is an Important Skill
                li
                  a.blogpanel(href='#blogpost7') A Time of Frustration
                li
                  a.blogpanel(href='#blogpost6') After 2 Weeks
                li
                  a.blogpanel(href='#blogpost5') In the Midst of Discovery
                li
                  a.blogpanel(href='#blogpost4') Week 1 Results
            li.panelmonths January
            li(style='list-style:none')
              ul(style='list-style:circle')
                li
                  a.blogpanel(href='#blogpost3') First Impression of Coding House
                li
                  a.blogpanel(href='#blogpost2') So what is next?
                li
                  a.blogpanel(href='#blogpost1') My very first blog!
