#contact 
  .modal-header
    h4#myModalLabel.modal-title Contact Tommy
  .modal-body
    .form-group
      label.col-lg-2.control-label(for='contact-name') Name:
      .col-lg-10
        input#contact-name.form-control(type='text', placeholder='Full Name')
    .form-group
      label.col-lg-2.control-label(for='contact-email') Email:
      .col-lg-10
        input#contact-email.form-control(type='email', placeholder='you@example.com')
    .form-group
      label.col-lg-2.control-label(for='contact-msg') Message:
      .col-lg-10
        textarea.form-control(rows='8')
    .modal-footer
      a.btn.btn-default(data-dismiss='modal') Close
      button.btn.btn-primary(type='submit') Send message
