#home
  .row
  #mainbody.col-md-12.text-center
    div
      h1.homeh1 Hi, I am Tommy!
      
      img.img-circle.homeimage(src='/views/images/mynewpic.png', alt='Responsive image')

      h1.jobtitle Freelance Web Developer

    div
      #socialIcons
        a(class ='icons' href='https://www.facebook.com/tluo12321')
          span.fa.fa-facebook-square.fa-3x
        a(class ='icons' href='https://www.linkedin.com/in/reachtommyluo')
          span.fa.fa-linkedin-square.fa-3x
        a(class ='icons' href='https://twitter.com/TLawesomeness')
          span.fa.fa-twitter-square.fa-3x
        a(class ='icons' href='https://github.com/TLawesomeness')
          span.fa.fa-github-square.fa-3x

    div
      p
        a.btn.btn-primary.btn-lg.projects.hireme(href='#/portfolio') Projects
