#portfolio
  .row.portfoliotext
  h2.text-center Projects(More coming)
  #projects.text-center

    .col-md-3
      div
        h4.projh4 Simple Calculator
        a(href='http://tlawesomeness.github.io/simplecalc/')
          img.calcimg.projimg(src='/views/images/calcpic.png', alt='Responsive image')
        .row
          button.btn.btn-danger(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Made with use of HTML, CSS Bootstrap, Javascript and jQuery') Read More
    
    .col-md-3
      h4.projh4 Tweeter Board
      a(href='http://tweeterboard.herokuapp.com/')
        img.tweetpic.projimg(src='/views/images/tweeterboard.png', alt='Responsive image')
      .row
        button.btn.btn-danger(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Calculates the number of tweets, favorites, retweets a user inputted within the last 24 hours\
        and totals the favorites and retweets into a score on the far right. Group project done with my cohorts used as a score keeper to\
        see who had the highest number of favs and retweets during my stay at the Coding\
        House Institute. Made with use of Express, Passport, AngularJS, and Twitter API.') Read More
    
    .col-md-3
      h4.projh4 Forecast App
      a(href='http://tlawesomeness.github.io/forecast/')
        img.forecastapp.projimg(src='/views/images/weatherapp.png', alt='Responsive image')
      .row
        button.btn.btn-danger(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Displays the current and next 6 days of forecast for current or inputted location. Limited within U.S territories.') Read More
    
    .col-md-3
      h4.projh4 Tic Tac Toe
      a(href='http://tlawesomeness.github.io/TicTacToe/')
        img.tictactoe.projimg(src='/views/images/tictactoe.png', alt='Responsive image')
      .row
        button.btn.btn-danger(type='button', data-container='body', data-toggle='popover', data-placement='bottom', data-content='Classic game created with Javascript, CSS BootStrap, and jQuery') Read More          
